<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- Указываем среде выполнения искать любые зависимости прямо в папке T-FLEX DOCs -->
      <probing privatePath="C:\Program Files (x86)\T-FLEX DOCs 18 (18ReleaseOAK)\Program" />
    </assemblyBinding>
  </runtime>
</configuration>